@media screen and (max-width: 991px){.video-container[data-v-a19bd23d]{position:relative;width:100%;height:0;padding-bottom:56.25%}.video-container iframe[data-v-a19bd23d]{position:absolute;top:0;left:0;width:100%;height:100%}}
